@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h2{
    font-size: 2rem;
}

body:not(header) {
    color: white;
}

div:first-of-type {
    z-index: 2;
}

/* nav bar */

.index-main {
    height: 100vh;
}

.logo {
    text-decoration: none;
    text-align: center;
    width: 10vw;
    margin-left: 3rem;
    color: white;
}

.main-head nav {
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 7vh;
    background-color: black;
    border-bottom: 5px solid white;
    position: fixed;
    z-index: 3;
}

ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
    width: 40vw;
    margin-right: 5rem;
}

li {
    display: block;
}

.dropdown a {
    font-weight: bolder;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    background-color: white;
    height: 4vh;
    padding: 1rem;
    transition: background-color 0.3s;
}

.dropdown a:hover {
    background-color: grey;
}

nav h1 {
    margin-left: 3%;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 8vw;
    box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.2);
    z-index: 1;
    color: aliceblue;
    transition: color 5s;
}

.borderb {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.bordere {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dropbtn {
    border-radius: 10px;
    z-index: 2;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content:focus-visible {
    color: blue;
}

/* body */

body:not(header) {
    color: white;
}

body:not(div:first-of-type) {
    font-family: 'Roboto Mono', monospace;
    z-index: 1;
    background-color: #000
}

.index-main:not(:first-child) {
    z-index: 2;
}

.background_video {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100vw;
    min-height: 100vh;
    z-index: -2;

}

.home_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 18%;
    font-size: xx-large;
    font-weight: bolder;
}

.home_title a {
    color: black;
    z-index: 2;
    background-color: white;
    border-radius: 20px;
}

.home_section {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.index-header {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    width: 100vw;
}

/* home page cards */

.index-cards {
    height: 90vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.cards {
    height: 50vh;
    width: 22vw;
    background-color: #000;
    border: gray;
    border-style: inset;
    border-radius: 15px;
    text-align: center;
}

/* fav games */

.main-fav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 3rem;
    min-height: 93.98vh;
}

/* fav games cards */

.sect-cards {
    display: flex;
}

.sect-cards div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    border: 5px solid rgb(4, 84, 14);
    height: 75vh;
    width: 25vw;
    margin: 0rem 3rem;
}

/* verschillende kleuren bij de favoriete games pagina */

.sect-cards-color-1 div {
    border: 5px solid rgb(4, 84, 14);
}

.sect-cards-color-2 div {
    border: 5px solid rgb(255, 0, 0);
}

.sect-cards-color-3 div {
    border: 5px solid rgb(153, 0, 255);
}

.bcard img {
    margin-top: 2rem;
    height: 150px;
    width: auto;
}

.sect-cards div h2 {
    margin-top: 1rem;
}

.bcard p {
    padding: 1rem 3rem;
}

/* portfolio */

.port-sect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 64vh;
    margin: 0rem 10rem;
}

.port-sect-bas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 64vh;
    margin: 0rem 10rem;
}

.port-sect div:first-child, .port-sect-bas div:first-child {
    margin-left: 16rem;
}

.port-info {
    display: flex;
}

.port-info p {
    width: 45vw;
    height: 35vh;
    margin-top: 4rem;
}

.port-info img {
    margin-left: 4rem;
}

.social_buttons {
    position: absolute;
    padding-top: 40vh;
}

.linked_in{
    position: absolute;
    padding-left: 40vh;
    padding-top: 10vh;
}

.social_title{
    position: absolute;
    padding-top: 13vh;
}

/* hier begint de rating van hoe goed iemand is in de programmeer talen */

.ranking {
    height: 30vh;
    margin-left: 10rem;
}

.box {
    background-color: white;
    height: 2rem;
    width: 2rem;
    margin: 0.1rm;
}

.green {
    background-color: green;
}

.fifty {
    background: linear-gradient(to right, green 50%, white 50%);
}

.html-rank {
    display: flex;
}

.css-rank {
    display: flex;
    margin-top: 0.5rem;
}

.js-rank {
    display: flex;
    margin-top: 0.5rem;
}

.php-rank {
    display: flex;
    margin-top: 0.5rem;
}

.html-rank-bas h2, .html-rank-roberto h2, .html-rank-bastiaan h2{
    margin-right: 7.2rem;
}

.html-rank-bas div, .html-rank-roberto div, .html-rank-bastiaan div{
    display: flex;
    margin-left: 0.5rem;
}

.css-rank-bas h2, .css-rank-roberto h2, .css-rank-bastiaan h2{
    margin-right: 8.4rem;
}

.css-rank-bas div, .css-rank-roberto div, .css-rank-bastiaan div{
    display: flex;
    margin-left: 0.5rem;
}

.js-rank-bas div, .js-rank-roberto div, .js-rank-bastiaan div{
    display: flex;
    margin-left: 0.5rem;
}

.php-rank-bas h2, .php-rank-roberto h2, .php-rank-bastiaan h2{
    margin-right: 8.5rem;
}

.php-rank-bas div, .php-rank-roberto div, .php-rank-bastiaan div{
    display: flex;
    margin-left: 0.5rem;
}

/* Uitleg over de games */

.uitleg_game_section{
    margin-top: 10%;
    margin-left: 5%;
    width: 100vw;
    height: 75vh;
}

.uitleg_game_main{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.uitleg_game_main img{
    margin-top: 12%;
    margin-right: 5%;
    margin-left: 10%;
}


/* Canvas voor de game*/

.game_main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 94vh;
}

.game_main canvas{
    z-index: 3;
}

#canvas_student2{
    width: 60%;
    height: 70%;
    border: white 5px solid;
}

#canvas_student3 {
    width: 60%;
    height: 70%;
    border: white 5px solid;
}


/* footer */

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 5px solid white;
    background-color: black;
    height: 6vh;
}