* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body:not(div:first-of-type) {
    font-family: 'Roboto Mono', monospace;
    z-index: 1;
    background-color: #000
}

body:not(header) {
    color: white;
}

div:first-of-type {
    z-index: -1;
}

/* nav bar */

header {
    position: fixed;
    width: 100vw;
}

.main-head nav {
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    max-width: 100vw;
    height: 7vh;
    background-color: black;
}

ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
    width: 35vw;
    margin-right: 5rem;
}

li {
    display: block;
}

a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    background-color: gray;
    height: 4vh;
    padding: 1rem;
}

nav h1{
    margin-left: 3%;
}

.dropdown-content {
    margin-top: -10%;
    display: none;
    position: absolute;
    background-color: blue;
    min-width: 8vw;
    padding-bottom: 1rem;
    box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: margin-top 5s;
    transition-timing-function: ease;
}

.dropdown-content a {
    color: #000000;
    padding: 0.8rem 1rem;
    display: block;
    text-align: left;
}

.dropbtn{
    border-radius: 10px;
}

.dropdown:hover .dropdown-content {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}

/* body */

body:not(header) {
    color: white;
}

body:not(div:first-of-type) {
    font-family: 'Roboto Mono', monospace;
    z-index: 1;
    background-color: #000
}

main:not(:first-child) {
    z-index: 2;
}

.background_video{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
}

.home_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 30%;
    font-size: xx-large;
}

.home_section{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.index-cards{
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.index-card1 {
    height: 40vh;
    width: 20vw;
    background-color: #000;
    border: gray;
    border-style: inset;
    text-align: center;
}

.index-card2 {
    height: 40vh;
    width: 20vw;
    background-color: #000;
    border: gray;
    border-style: inset;
    text-align: center;
}

.index-card3 {
    height: 40vh;
    width: 20vw;
    background-color: #000;
    border: gray;
    border-style: inset;
    text-align: center;
}

/* footer */

footer {
    background-color: green;
    height: 3rem;
    margin-top: 120rem;
    display: flex;
    justify-content: center;
    align-items: center;
}