* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h2{
    font-size: 2rem;
}



body:not(header) {
    color: white;
}

div:first-of-type {
    z-index: 2;
}

/* nav bar */

.index-main {
    height: 100vh;
}

.logo {
    text-decoration: none;
    text-align: center;
    width: 10vw;
    margin-left: 3rem;
    color: white;
}

.main-head nav {
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 7vh;
    background-color: black;
    border-bottom: 5px solid white;
    position: fixed;
}

ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
    width: 40vw;
    margin-right: 5rem;
}

li {
    display: block;
}

.dropdown a {
    font-weight: bolder;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    background-color: white;
    height: 4vh;
    padding: 1rem;
    transition: background-color 0.3s;
}

.dropdown a:hover {
    background-color: grey;
}

nav h1 {
    margin-left: 3%;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 8vw;
    box-shadow: 0rem 0.5rem 1rem 0rem rgba(0, 0, 0, 0.2);
    z-index: 1;
    color: aliceblue;
    transition: color 5s;
}

.borderb {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.bordere {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dropbtn {
    border-radius: 10px;
    z-index: 2;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content:focus-visible {
    color: blue;
}

/* body */

body:not(header) {
    color: white;
}

body:not(div:first-of-type) {
    font-family: 'Roboto Mono', monospace;
    z-index: 1;
    background-color: #000
}

.index-main:not(:first-child) {
    z-index: 2;
}

.background_video {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100vw;
    min-height: 100vh;
    z-index: -2;

}

.home_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 18%;
    font-size: xx-large;
    font-weight: bolder;
}

.home_title a {
    color: black;
    z-index: 2;
    background-color: white;
    border-radius: 20px;
}

.home_section {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.index-header {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    width: 100vw;
}

/* home page cards */

.index-cards {
    height: 90vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.cards {
    height: 50vh;
    width: 22vw;
    background-color: #000;
    border: gray;
    border-style: inset;
    border-radius: 15px;
    text-align: center;
}

/* fav games */

.main-fav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 3rem;
    min-height: 93.98vh;
}

/* fav games cards */

.sect-cards {
    display: flex;
}

.sect-cards div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    border: 5px solid rgb(4, 84, 14);
    height: 60vh;
    width: 25vw;
    margin: 0rem 3rem;
}

/* verschillende kleuren bij de favoriete games pagina */

.sect-cards-color-1 div {
    border: 5px solid rgb(4, 84, 14);
}

.sect-cards-color-2 div {
    border: 5px solid rgb(255, 0, 0);
}

.sect-cards-color-3 div {
    border: 5px solid rgb(153, 0, 255);
}

.bcard img {
    margin-top: 2rem;
    height: 150px;
    width: auto;
}

.sect-cards div h2 {
    margin-top: 1rem;
}

.bcard p {
    padding: 1rem 3rem;
}

/* footer */

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 5px solid white;
    background-color: black;
    height: 6vh;
}